# Virtual Environment
.venv/
venv/
ENV/
bin/
lib/
share/
pyvenv.cfg

# Python cache
__pycache__/
*.py[cod]
*$py.class
*.so

# Jupyter Notebooks
.ipynb_checkpoints
*/.ipynb_checkpoints/*

# IDEs
.vscode/
.idea/
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db

# Data files (Common for DE Zoomcamp)
*.parquet
*.csv
*.jsonl
*.db
*.sqlite

# Docker
.docker/
